@media (max-width: 1375px) {
    .container {
        max-width: 940px;
    }

    .header__inner {
        margin-left: 0px;
        margin-right: 29px;
    }

    .header__separator {
        width: 934px;
        margin-bottom: 32px;
   }

    .header__nav_menu {
        gap: 54px;
        padding: 0px;
    }

    .header__nav-link {
        font-size: 20px;
    }

    .header__buttons {
        gap: 33px;
    }

    .bell {
        width: 40px;
        height: 40px;
    }

    .exit_icon {
        width: 40px;
        height: 40px;
    }

    .main {
        max-width: 940px;
    }

    .main__container {
        gap: 20px;
    }

    .main__whats_new {
        font-size: 40px;
    }

    .main__vidjet_container {
        width: 450px;
        height: 277px;
        margin-top: 13px;
    }

    .colortextgreen {
        font-size: 18px;
    }

    .main__photo_weather_text {
        font-size: 17px;
    }

    .main__photo_date_text {
        font-size: 17px;
    }

    .main__photo_image {
        margin-top: 11px;
    }

    .last_photo {
        width: 450px;
        height: 252px;
    }

    .main__photo_lastupdate_text {
        font-size: 16px;
        padding: 5px;
    }

    .mark {
        width: 15px;
        height: 15px;
    }

    .main__photo_weather {
        margin-top: 23px;
    }

    .main__photo_date {
        margin-top: 23px;
    }

    .main__photo_lastupdate {
        margin-top: 10px;
    }

    .main__vidjet_content_update1_frame {
        width: 398px;
    }

    .main__vidjet_content {
        margin-left: 0px;
        padding-left: 20px;
    }

    .main__vidjet_content_update_text_update {
        font-size: 18px;
    }

    .main__vidjet_content_update_text_descr {
        font-size: 15px;
    }

    .main__info_title {
        font-size: 30px;
    }

    .main__info_container {
        width: 450px;
        height: 263px;
    }

    .main__info_content {
        padding: 20px 20px 19px 25px;
        gap: 0px;
    }

    .main__info_content_titles ul li {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .main__info_content_titles ul li:nth-child(4) {
        margin-bottom: 10px;
    }

    .main__info_content_titles ul li:nth-child(5) {
        margin-bottom: 10px;
    }

    .main__info_content_data ul li {
        font-size: 16px;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .main__info_content_data ul li:nth-child(3) {
        margin-bottom: 10px;
    }

    .main__steps_title {
        font-size: 30px;
    }

    .main__steps_container {
        width: 450px;
        height: 264px;
    }

    .main__steps_content ol {
        font-size: 20px;
    }

    .main__steps_content ul {
        font-size: 18px;
    }

    .main__steps_content {
        padding: 13px 35px 26px 18px;
    }

    .work_progress__title {
        font-size: 86px;
    }

    .work_progress__question {
        margin: 0;
        margin-left: 56px;
    }

    .work_progress__status_title {
        text-align: unset;
        margin-left: 80px;
    }

    .work_progress__status_name {
        text-align: unset;
        margin-left: 60px;
    }

    .work_progress__report {
        width: 475px;
    }

    .work_progress__report_report {
        width: 365px;
    }

    .work_progress__report_content {
        padding: 27px 41px 40px 23px;
    }

    .report_img {
        width: 90px;
        height: 80px;
    }

    .work_progress__report_report_to_galery {
        width: 90px;
        height: 80px;
        padding: 0px 10px 0px 10px;
    }

    .work_progress__last_changes_title {
        display: inline-block;
        text-align: unset;
        margin-left: 40px;
    }

    .work_progress__last_changes_text ul {
        text-align: unset;
        margin-left: 50px;
        white-space: pre-line;
    }

    .work_progress__last_changes {
        margin-top: 50px;
    }

    .work_progress__last_changes_text ul li {
        display: inline-block;
    }

    .work_progress__complites_steps_card {
        width: 434px;
        height: 114px;
    }

    .work_progress__complites_steps_card_wbutton button {
        padding-left: 413px;
    }

    .work_progress__day_fact_text {
        padding-top: 9px;
        font-size: 22px;
        max-width: 444px;
    }

    .work_progress__content {
        justify-content: center;
    }

    .work_progress__complites_steps_card_date {
        font-size: 11px;
    }

    .work_progress__complites_steps_card_title {
        padding-top: 10px;
    }

    .work_progress__complites_steps_card_title_text {
        font-size: 16px;
    }

    .work_progress__complites_steps_card_text {
        font-size: 16px;
    }

    .popup-com {
        width: 438px;
        height: 130px;
    }

    .poup-com__comment1_name {
        line-height: normal;
    }

    .work_progress__day_fact {
        margin-top: 80px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 704px;
    }

    .header__separator {
        width: 701px;
    }

    .logo {
        width: 51px;
        height: 54px;
    }

    .bell {
        width: 35px;
        height: 35px;
    }

    .exit_icon {
        width: 35px;
        height: 35px;
    }

    .header__nav_menu {
        justify-content: space-around;
    }

    .wrapper {
        margin-top: 21px;
    }

    .header__inner {
        margin-right: 0px;
        align-items: flex-start;
        margin-bottom: 24px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .main__container {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .main__whats_new {
        font-size: 45px;
    }

    .main__whats_new {
        margin: 0;
    }

    .calendar {
        width: 18px;
        height: 18px;
        margin-right: 4px;
    }

    .main__update_info_container {
        display: flex;
        justify-content: space-between;
    }

    .main__vidjet_container {
        width: 704px;
        height: 468px;
    }

    .main__vidjet_content_update1_frame {
        width: 100%;
        gap: 50px;
    }

    .main__photo_info {
        align-items: baseline;
    }

    .last_photo {
        width: 704px;
        height: 394px;
    }

    .main__info-steps_container {
        max-width: 704px;
    }

    .main__info_container {
        width: 332px;
        height: 462px;
    }

    .main__steps_container {
        width: 332px;
        height: 462px;
    }

    .main__info_content {
        gap: 0px;
        padding: 40px 0px 0px 16px;
    }

    .main__info_content_titles ul li {
        margin-bottom: 0;
    }

    .main__info_content_titles ul li:nth-child(4) {
        margin-bottom: 0;
    }

    .main__info_content_titles ul li:nth-child(5) {
        margin-bottom: 0;
    }

    .main__info_content_data ul li {
        white-space: wrap;
        margin-bottom: 0;
    }

    .main__info_content_data ul li:nth-child(2) {
        margin-bottom: 0;
    }

    .main__info_content_data ul li:nth-child(3) {
        margin-bottom: 0;
    }

    .main__info_content_titles ul {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    
    .main__info_content_data ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main__info_content_data ul li:nth-child(1) {
        margin-top: -15px;
    }

    .main__info_content_data ul li:nth-child(3) {
        margin-bottom: 24px;
    }

    .main__info_content_data ul li:nth-child(2) {
        margin-top: -7px;
    }

    .work_progress__title {
        font-size: 66px;
    }

    .work_progress__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 40px;
    }

    .work_progress__day_fact {
        display: none;
    }

    .work_progress__question {
        margin: 0 auto;
    }

    .work_progress__status_title {
        text-align: center;
        margin: 0;
        margin-top: 80px;
    }

    .work_progress__status_name {
        margin: 0;
        text-align: center;
        margin-top: 20px;
    }

    .work_progress__report {
        margin: 0 auto;
        margin-top: 23px
    }

    .work_progress__last_changes_title {
        display: block;
        text-align: center;
    }

    .work_progress__last_changes_text ul {
        display: block;
        list-style: none;
        color: #656565;
        text-align: center;
        font-family: "TT Firs Neue";
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
        margin-top: -20px;
    }

    .work_progress__complites_steps_card {
        width: 100%;
    }

    .work_progress__complites_steps_card_wbutton button {
        padding-left: 672px;
    }

    .popup-com {
        width: 100%;
    }

    .work_progress__report {
        width: 100%;
    }

    .work_progress__report_report {
        width: 440px;
    }

    .footer__block {
        margin-top: 60px;
        height: 100px;
    }

    .footer__block p {
        padding-top: 40px;
        font-size: 15px;
    }
}

@media (max-width: 712px) {
    .container {
        max-width: 300px;
    }

    .header__inner {
        display: none;
    }

    .header__nav_menu {
        display: none;
    }

    .header__separator {
        display: none;
    }

    .main__container {
        gap: 40px;
    }

    .main__photo_date {
        display: none;
    }

    .header__inner_phone {
        display: flex;
        justify-content: space-between;
    }

    .header__buttons_phone {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    
    .notifications-popup_phone {
        position: absolute;
        width: 200px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 1000;
        top: 70px;
    }
    
    .notification_phone {
        display: flex;
        justify-content: space-between;
    }
    
    .notifications-popup__header_phone {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-family: 'TT Firs Neue';
        font-weight: 500;
        color: rgba(101, 101, 101, 1);
    }
    
    .notifications-popup__content_phone {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        max-height: 200px; /* Ограничение высоты контента */
        overflow-y: auto; /* Добавляем прокрутку при необходимости */
        font-family: 'TT Firs Neue';
        font-weight: 300;
        color: #000;
    }
    
    .notifications-popup__close_phone {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
    
    .header__notifications_phone {
        width: 45px;
        height: 45px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .burger-menu_button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .main__update {
        width: 100%;
    }

    .main__whats_new {
        margin: 0 auto;
        margin-top: 24px;
    }

    .main__vidjet_container {
        width: 100%;
        background: none;
        overflow: unset;
        height: 100%;
    }

    .main__vidjet_content {
        margin: 0;
        padding-left: 0;
    }

    .main__vidjet_content_update1_frame {
        background: rgba(162, 197, 134, 0.06);
        gap: 10px;
        padding-left: 15px;
        height: 67px;
    }

    .main__vidjet_content_update1_time {
        font-size: 10px;
    }

    .main__vidjet_content_update_text_update {
        font-size: 12px;
    }

    .colortextgreen {
        font-size: 12px;
    }

    .main__vidjet_content_update_text_descr {
        font-size: 12px;
    }

    .doc_update {
        width: 22px;
        height: 30px;
    }

    .main__photo {
        width: 100%;
    }

    .last_photo {
        width: 100%;
        height: 168px;
    }

    .main__photo_info {
        flex-direction: column;
    }

    .main__photo_title {
        margin: 0 auto;
    }

    .main__photo_weather {
        margin: 0 auto;
        margin-top: 16px;
    }

    .main__photo_lastupdate_text {
        font-size: 13px;
        padding: 2px;
    }
    
    .mark {
        width: 10px;
        height: 10px;
   }

   .main__info-steps_container {
        flex-direction: column;
   }

   .main__info_container {
        width: 300px;
   }

   .main__info_title {
        margin: 0 auto;
   }

   .main__info_content_data ul li:nth-child(3) {
        margin-bottom: 5px;
   }

   .main__info_content {
        gap: 5px;
   }

   .main__steps_container {
        width: 100%;
   }

   .main__steps_title {
        text-align: center;
   }

   .work_progress {
        margin-top: 51px;
   }

   .work_progress__title {
        font-size: 45px;
   }

   .work_progress__question_text {
        font-size: 15px;
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
   }

   .work_progress__content_left_side {
        width: 100%;
   }

   .work_progress__content {
    margin-top: 40px;
   }

   .work_progress__question_button {
        width: 100%;
        font-size: 18px;
        height: 62px
   }

   .work_progress__question {
        width: 100%;
   }

   .work_progress__status_title {
        font-size: 30px;
        margin-top: 50px;
   }

   .work_progress__status_name {
        font-size: 18px;
   }

   .work_progress__report_manager {
        
   }

   .work_progress__report_content {
        width: 100%;
        height: 100%;
   }

   .work_progress__report_date {
        display: block;
        float: none;
        padding-top: 15px;
        font-size: 14px;
        padding-bottom: 15px;
   }

   .work_progress__report_report {
        margin-left: 0;
        width: 100%;
        height: 320px;
   }

   .report_img {
        width: 60px;
        height: 50px;
   }

   .work_progress__report_report_photos {
        padding-top: 22px;
   }

   .work_progress__report_report_to_galery {
        width: 60px;
        height: 50px;
        font-size: 8px;
        line-height: normal;
        padding: 0px 8px 0px 8px;
   }

   .work_progress__report_report_checklist {
        padding-top: 20px;
   }

   .work_progress__last_changes {
        width: 100%;
   }

   .work_progress__last_changes_title {
        margin: 0;
        text-align: start;
        font-size: 30px;
   }

   .work_progress__last_changes_text ul {
        text-align: unset;
        font-size: 16px;
   }

   .work_progress__content_right_side {
        width: 100%;
   }

   .work_progress__complites_steps_card_wbutton button {
        padding-left: 278px;
   }

   .work_progress__complites_steps_card_date {
        font-size: 10px;
   }

   .work_progress__complites_steps_card_title_text {
        font-size: 15px;
        padding-left: 6px;
   }

   .work_progress__complites_steps_card_text {
        font-size: 15px;
   }

   .poup-com__comment1_name_image {
        padding-left: 0;
   }

   .popup-com_tochat {
        padding-left: 10px;
   }

   .poup-com__comment1_text {
        font-size: 11px;
   }

   .header__vertical_menu {
        display: block;
        width: 140px;
        height: 668px;
        background: #657955;
        position: absolute;
        left: -140px;
        top: 0;
        transition: left 0.3s ease;
        z-index: 1000;
   }

   .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Затемнение */
        display: none; /* По умолчанию скрыто */
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 900;
    }

    .header__vertical_menu.active {
        left: 0;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    .burger-menu_button.active .burger-menu_img {
        content: url('../img/close_menu.svg'); /* Замена иконки на другую */
    }

   .header__logo {
        padding-top: 30px;
        padding-left: 54px;
        padding-bottom: 32px;
   }

   .header__vertical_menu_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;
   }

   .header_vertical_text {
        color: #FFF;
        font-family: "TT Firs Neue";
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
   }

   .header_vertical_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: none;
        border: none;
   }

   .header__exit {
        padding-left: 54px;
        padding-top: 35px;
   }
}   